secrets

# Coverage
.coverage

# Pytest cache
pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
instance/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
venv/
env/
env.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Compiled Python files
*.pyc

# macOS files
.DS_Store
